html,
body,
div,
canvas {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  background-color: black;
  color: white;
}

.canvas {
  background: #2f1e35;
  position: absolute;
}

.btn:hover,
.btn:focus {
  background-color: #033672;
}
.btn {
  background-color: #0076ff;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 10px;
  padding: 10px 20px;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  visibility: hidden;
}

button.shape-type {
  bottom: 2rem;
}

button.restart {
  bottom: 8rem;
}

button.debug {
  bottom: 14rem;
}
